*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #F2C14E;
    --winning-blocks: #2d414b;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}
h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(89, 131, 252, 1);
    background-image: linear-gradient(90deg, rgba(89, 131, 252, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(252, 89, 92, 1) 100%);
}

#gameboard {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 4%;
    width: 4%;

    align-items: center;
    justify-content: center;
    text-align: center;

    border-right: 2px solid;
    border-bottom: 2px solid;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
.box:hover{
        background-color: #525d63;
}

